{% extends 'layout2/base.html' %}

{% block title %}
    <title>Komikindo • Home</title> 
{% endblock %}

{% block property %}
    <meta property="og:title" content="Home · Komikindo" />
    <meta property="og:description" content="Baca Manga di Komikindo" />
    <meta property="og:url" content="{{ url }}" />
    <meta property="og:site_name" content="Komikato" />
    <meta property="og:image" content="/assets/image/komikindo.png" />
    <meta property="og:image:secure_url" content="/assets/image/komikindo.png" />
    <meta property="og:image:alt" content="Komikindo" />
    <meta property="og:image:type" content="image/png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    <section>
        <header class="major">
            <h2>Newest Manga</h2>
        </header>
        
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-3 g-1">
            {% for manga in body.populer %}
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="{{manga.thumb}}" alt="{{manga.name}}">
                    <div class="card-body">
                        <h5 class="card-title">{{manga.name}}</h5>
                        <p class="card-text">Baca {{ manga.name }}</p>
                        <a href="{{manga.url}}" class="btn btn-primary">Baca</a>
                        
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block search %}
    <section id="search" class="alt" data-source="komikindo">
        <form name="search" action>
            <input type="text" name="query" id="query" placeholder="Search" required>
        </form>
    </section>
{% endblock %}
