{% extends 'layout2/base.html' %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4">
                    <img src="/assets/image/komikindo.png" class="card-img-top" alt="">
                    <div class="card-body">
                        <h3 class="card-title">Komikindo</h3>
                        <p class="card-text">Baca Manga di Komikindo.</p>
                        <a href="/komikindo" class="btn btn-primary">More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4">
                    <img src="/assets/image/otakudesu.png" class="card-img-top" alt="">
                    <div class="card-body">
                        <h3 class="card-title">Otakudesu</h3>
                        <p class="card-text">Nonton Anime di Otakudesu.</p>
                        <a href="/otakudesu" class="btn btn-primary">More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4">
                    <img src="/assets/image/otakudesu.png" class="card-img-top" alt="">
                    <div class="card-body">
                        <h3 class="card-title">Mangasusu</h3>
                        <p class="card-text">Mangasusu</p>
                        <a href="/mangasusu" class="btn btn-primary">More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
